.stars_desktop {
    position: absolute;
    left: 0px;
    transform-origin: right center;
    animation: stars 2s linear 1s infinite alternate;
}

.ellipse_lights {
    position: absolute;
    left: 0px;
    transform-origin: center;
    animation: ellipse_lights 3s linear 4s infinite;
}

@keyframes stars {
    to {
      transform: scaleX(1.05) scaleY(1.05);  
    }
}

@keyframes ellipse_lights {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


@media only screen and (max-width: 768px) {
    
    
    .stars_desktop {
        /* width: 480px;
        height: 800px; */
        /* position: absolute; */
        left: -720px;
        transform-origin: right center;
        animation: stars 2s linear 1s infinite alternate;
    }
    
    .ellipse_lights {
        /* width: 480px;
        height: 800px; */
        /* position: relative; */
        left: -720px;
        transform-origin: center;
        animation: ellipse_lights 3s linear 4s infinite;
    }
}