body {

    margin: auto 0;
    font-family: 'Oswald';
}

.container {

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main_page {

    width: 1200px;
    height: 800px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;

}

.hero_block {
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 150px;

}

.hero_block > h1 {
    position: relative;
    text-align: center;
    /* width: 386px;
    height: 118px;   */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
}

.hero_block > p {
    position: relative;
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

#placeholder_logo {
    align-self: center;
    position: relative;
    width: 63px;
    height: 63px;
    transition: 0.8s;
}

#placeholder_logo:hover {
    transform: scaleY(1.5) scaleX(1.5) rotateY(180deg);
}

#project {
    padding: 40px;   
    left: 150px;
    top: 0px;
    color: #fff;  
}

.header_menu {
    position: absolute;
    left: 360px;
    top: 50px;
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    color: #fff;
}

.header_menu_item {
    list-style-type: none;    
}

.rectangle_1 {
    position: relative;
    width: 1200px;
    height: 800px;
    background: #EEEEEE;
}

.main_h1 {
    position: relative;
    width: 600px;
    height: 119px;
    margin: 0px;
    left: 264px;
    top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.main_h2 {
    position: relative;
    width: 426px;
    height: 57px;
    left: 386px;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #464547;
}

.main_paragraphs {
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: 408px 408px;
    grid-column-gap: 60px;
    justify-content: center;
    align-content: end;
}

.rectangle_1 > button {
    position: relative;
    width: 115px;
    height: 36px;
    left: 541px;
    top: 100px;
    border: none;
    color: #fff;
    border-radius: 18px;
    background-color: #55cad8;
    transition: 0.8s;
    transform-origin: left top;
}

.rectangle_1 > button:hover {
    transform: rotate(10deg);
}

.learn_more {
    position: relative;
    width: 1200px;
    height: 640px;
    background-image: url(../assets/background_2.png);
    background-repeat: no-repeat;
}

.learn_more_block {
    position: relative;
    align-items: center;
    width: 432px;
    height: 470.58px;
    left: 390px;
}

.learn_more_block_h2 {
    position: relative;
    width: 432px;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
}

.learn_more_block_p {
    position: relative;
    width: 350px;
    height: 97.56px;
    left: 41px;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.learn_more_button {
    display: flex;
    justify-content: center;
    position: relative; 
}

.polygon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.learn_more_button ellipse {
    transition: all 0.8s ease-in-out;
    transform-origin: center;
  }

.polygon path {
    transition: all 0.8s ease-in-out;
    transform-origin: center;
  }

.learn_more_button:hover .ellipse ellipse {
    /* transform: scale(1.2); */
    fill: #FFFFFF; 
} 

.learn_more_button:hover .polygon path {
    /* transform: scale(1.5); */
    fill: #39C2D7
}

#footer_rectangle {
    position: relative;
    width: 1200px;
    height: 200px;
    background: #464547;
}

/* GRID USED IN THIS STYLE */
.contacts_grid {
    position: relative;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 75px 75px;
    grid-auto-columns: minmax(75px, auto);   
}

.contacts_grid > *{
    font-family: 'Source Sans Pro';
    color: #fff
}

.footer_logo {
    grid-column-start: 0 / 1;
}

#footer_logo_img {
    margin: 0px 5px 0px 0px;
    float: left;
    width: 20px;
    height: 20px;
}

#footer_p {
    margin: 0px 10px;
}

.contacts_street {
    grid-column: 3 / 4;
    grid-row: 1;
}

.contacts_email {
    grid-column: 3 / 4;
    grid-row: 2;
}

.contacts_email a {
    text-decoration: none;
    color: #FFFFFF;
}

.contacts_paragraph {
    grid-column: 6 / 8;
    grid-row: 2;
}

#burger, [for="burger"] {
    display: none;
    
}


/* Mobile style */

@media only screen and (max-width: 768px) {
    .container {
        width: 480px;
    }
    
    .main_page {
        width: 480px;
        height: 800px;
        background-position: right;
    }

    .main_h1 {
        position: relative;
        width: 355px;
        height: 261px;
        left: 60px;
        top: 40px;   
    }

    .main_h2 {
        position: relative;
        width: 400px;
        height: 81px;
        left: 60px;
        top: 0px; 
    }

    .main_paragraphs {
        position: relative;
        top: 60px;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 200px 200px;
        grid-row-gap: 20px;
        justify-content: center;
        /* align-content: end; */
    }

    .rectangle_1 {
        position: relative;
        width: 480px;
        height: 990px;
        background: #EEEEEE;
    }

    .rectangle_1 > button {
        position: relative;
        width: 115px;
        height: 36px;
        left: 196px;
        top: 50px;
        border: none;
        color: #fff;
        border-radius: 18px;
        background-color: #55cad8;
    }

    .learn_more {
        position: relative;
        width: 480px;
        height: 640px;
    }
    .learn_more_block {
        position: relative;
        align-items: center;
        width: 488px;
        height: 492px;
        left: 0px;
    }
    
    .learn_more_block_h2 {
        position: relative;
        width: 432px;
        left: 37px;
    }
    
    .learn_more_block_p {
        position: relative;
        width: 350px;
        height: 97.56px;
        left: 75px;
    }

    .learn_more_button {
        position: relative;
        width: 100px;
        height: 100px;
        left: 190px;
        background-size: cover;   
    }

    .polygon {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-40%, -50%);
    }

    #footer_rectangle {
        position: relative;
        width: 480px;
        height: 200px;
        background: #464547;
    }

    .contacts_grid {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .footer_logo {
        width: 120px;
        align-self: center;
        flex-basis: 10px;
    }

    #footer_logo_img {
        margin: 0px 5px 0px 0px;
        float: left;
        width: 20px;
        height: 20px;
    }
    
    #footer_p {
        letter-spacing: 2px;
        margin: 0px 10px;
    }

    .contacts_street {
        flex-basis: 10px;
    }
    
    .contacts_email {
        flex-basis: 10px;
    }
    
    .contacts_paragraph {
        flex-basis: 10px;
    }

    .header_menu {
        display: none;
    }

    [for="burger"] {
        z-index: 50;
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        text-align: right;
        padding: 30px;
        color: #fff;
        align-self:flex-end;
    
    }

    #burger:checked + label + div > .header > .header_menu {
        display: block;
    }
    
}